savehist
aldric.el
emacs.secrets
init-custom.el
.cask
.recentf
.saved-places
ac-comphist.dat
auto-save-list
elpa
eshell/history
eshell/lastdir
games
ido.*
init.d/init-custom.el
places
projectile-bookmarks.eld
tramp
url/
var
*~
\#*
*#
