*#
*~
#.elc
local-files/
.cask
\#*
aldric.el
config.el
elpa
.emacs.secrets
eshell/history
eshell/lastdir
games
tramp
url/
var
ensime/
network-security.data
transient/
straight/
request/
quelpa
.cache/
.ls-session-v1
.org-id-locations
elisa/
ellama-sessions/
eln-cache/
elpy/
nix-buffer/
