*#
*~
.cask
.recentf
.saved-places
SessionDesktop.el
\#*
ac-comphist.dat
aldric.el
auto-save-list
bookmarks
elpa
emacs.secrets
eshell/history
eshell/lastdir
games
ido.*
init-custom.el
init.d/init-custom.el
places
projectile-bookmarks.eld
savehist
smex-items
tramp
url/
var
ensime/
